<!-- file-upload-modal.component.html -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="onCancel()">&times;</span>
    <h2>Drop Audio Files To Upload It</h2>
    <div class="center">
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Optional custom content that replaces the the entire default content.
          <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
      </ngx-file-drop>
      <div class="upload-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i = index">
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showYoutubeDownloadModal">
  <div class="modal-content">
    <div class="container">
      <div class="status" [ngStyle]="{ color: currentColor }">
        {{ currentStatus }}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showTrackMoveModel">
  <div class="modal-content">
    <span class="close" (click)="showTrackMoveModel = false">&times;</span>
    <div class="playlist-container">
      <h2>
        Select play lists to add track into [
        <h4>{{ this.selectedUpdateTrackTitle }}</h4>
        ]
      </h2>
      <input style="width: 100%" type="text" [(ngModel)]="selectedUpdateTrackTitle" placeholder="Track Title" />
      <div class="playlist-card" *ngFor="let playlist of playlists">
        <label class="checkbox-label">
          <input type="checkbox" (change)="toggleSelection(playlist.id)" [checked]="selectedPlaylists.has(playlist.id)" />
          <span class="checkbox-custom"></span>
          <span class="playlist-name">{{ playlist.title }}</span>
        </label>
      </div>
      <div class="actions">
        <button (click)="updateSelectedTrackSelectedPlaylistIds()">UpdateTrack</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showConfirmation">
  <div class="modal-content">
    <h3>Are you sure you want to delete?</h3>
    <p>This action cannot be undone.</p>
    <button (click)="confirmDelete()">Yes, Delete</button>
    <button (click)="closeDeleteConfirmation()">Cancel</button>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="showYoutubeModal">
  <div class="modal-content">
    <span class="close" (click)="closeYoutubeModal()">&times;</span>
    <h2>youtube/soundcloud url</h2>
    <input type="text" [(ngModel)]="youtubeVideoUrl" placeholder="Enter youtube video url here" />
    <br />
    <button (click)="submitYouTubeVideoUrl()">Download</button>
  </div>
</div>

<div class="content__middle">
  <div class="artist is-verified">
    <div class="artist__header">
      <div class="artist__info">
        <div class="artist__info__meta">
          <div class="artist__info__type">PLAYLIST</div>

          <div class="artist__info__name">{{ playlist.title }}</div>

          <div *ngIf="!playlist?.title" class="artist__info__name">SELECT OR CREATE NEW PLAYLIST</div>

          <div *ngIf="playlist?.title" class="artist__info__actions">
            <button (click)="playAnyTrack()" class="button-dark">
              <i class="icon ion-ios-play-outline"></i>
              Play
            </button>

            <button (click)="openDeleteConfirmation()" style="background-color: var(--bs-red)" class="button-danger">
              delete playlist
            </button>

            <button (click)="openUploadAudioModal()" class="button-light">Upload</button>

            <button (click)="openYoutubeModal()" class="button-light">Add Youtube/soundcloud</button>

            <!--
            <button  class="button-light more">
              <i class="ion-ios-more"></i>
            </button>
            -->
          </div>
        </div>
      </div>

      <div class="artist__listeners">
        <div class="artist__listeners__count">{{ getTotalPlayCount(playlist) }}</div>

        <div class="artist__listeners__label">Total Listens</div>
      </div>

      <div class="artist__navigation">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#artist-overview" aria-controls="artist-overview" role="tab" data-toggle="tab">Overview</a>
          </li>

          <!--<li role="presentation">
            <a href="#artist-about" aria-controls="artist-about" role="tab" data-toggle="tab">About</a>
          </li>-->
        </ul>

        <!-- <div class="artist__navigation__friends">
          <a style="display: none" href="#">
            <img src="http://zblogged.com/wp-content/uploads/2015/11/17.jpg" alt="" />
          </a>

          <a style="display: none" href="#">
            <img src="http://zblogged.com/wp-content/uploads/2015/11/5.png" alt="" />
          </a>

          <a style="display: none" href="#">
            <img src="http://cdn.devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" alt="" />
          </a>
        </div>-->
      </div>
    </div>

    <div class="artist__content">
      <div class="tab-content">
        <!-- Overview -->
        <div role="tabpanel" class="tab-pane active" id="artist-overview">
          <div class="overview">
            <div class="overview__albums">
              <div class="overview__albums__head">
                <span class="section-title">Albums</span>

                <!--
                <span class="view-type">
                    <i class="fa fa-list list active"></i>

                    <i class="fa fa-th-large card"></i>
                  </span>
                  -->
              </div>

              <div class="album">
                <!--
                <div class="album__info">
                  <div class="album__info__art">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out" />
                  </div>

                  <div class="album__info__meta">
                    <div class="album__year">2015</div>

                    <div class="album__name">When It's Dark Out</div>

                    <div class="album__actions">
                      <button class="button-light save">Save</button>

                      <button class="button-light more">
                        <i class="ion-ios-more"></i>
                      </button>
                    </div>
                  </div>
                </div>
                  -->
                <div class="album__tracks">
                  <div class="tracks">
                    <div class="tracks__heading">
                      <div class="tracks__heading__number">#</div>

                      <div class="tracks__heading__title">Song</div>

                      <div class="tracks__heading__length">
                        <i class="icon ion-ios-stopwatch-outline"></i>
                      </div>

                      <div class="tracks__heading__popularity">
                        <i class="icon ion-ios-download"></i>
                      </div>

                      <div class="tracks__heading__popularity">
                        <i class="icon ion-android-options"></i>
                      </div>

                      <div class="tracks__heading__popularity">
                        <i class="icon ion-play"></i>
                      </div>
                    </div>

                    <div style="cursor: pointer" *ngFor="let track of playlist.tracks" (click)="play(track)" class="track">
                      <div class="track__number">{{ track.id | slice: 5 : 8 }}</div>

                      <div class="track__added">
                        <i [ngClass]="track === selectedTrack ? 'display-none' : ''" class="icon ion-checkmark-round added"></i>

                        <i [ngClass]="track !== selectedTrack ? 'display-none' : ''" class="icon ion-play added"></i>
                      </div>

                      <div class="track__title" style="{{ 'color:' + (track === selectedTrack ? 'burlywood' : 'white') }}">
                        {{ track.title }}
                      </div>

                      <!--
                      <div class="track__explicit">
                        <span class="label">Explicit</span>
                      </div>
-->
                      <div class="track__length">{{ formatDuration(track.duration) }}</div>

                      <div class="track__popularity">
                        <img style="width: 20px; height: 20px" *ngIf="track.refType === 'YOUTUBE'" src="/content/images/youtube.png" />
                        <img
                          style="width: 20px; height: 20px"
                          *ngIf="track.refType === 'SOUNDCLOUD'"
                          src="/content/images/soundcloud.png"
                        />

                        <i *ngIf="!track.refType" class="icon ion-upload"></i>
                      </div>

                      <div class="track__popularity">
                        <i (click)="deleteTrack(track)" class="icon ion-android-delete"></i>
                        <i (click)="showMoveTrackModel(track)" class="icon ion-arrow-move"></i>
                        <i (click)="downloadTrack(track)" class="icon ion-ios-download"></i>
                      </div>

                      <div class="track__popularity">
                        <span>{{ track.playCount }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / -->

        <!-- / -->

        <!-- About // Coming Soon-->
        <!--<div role="tabpanel" class="tab-pane" id="artist-about">About</div>-->
        <!-- / -->
      </div>
    </div>
  </div>
</div>
