<div>
  <h2 id="page-heading" data-cy="TaskNodeHeading">
    <span jhiTranslate="beatStreamApp.taskNode.home.title">Task Nodes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="beatStreamApp.taskNode.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task-node"
        [routerLink]="['/task-node/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beatStreamApp.taskNode.home.createLabel">Create a new Task Node</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (taskNodes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="beatStreamApp.taskNode.home.notFound">No Task Nodes found</span>
    </div>
  }

  @if (taskNodes && taskNodes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceType">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.referenceType">Reference Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referenceId">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.referenceId">Reference Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taskName">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.taskName">Task Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taskLog">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.taskLog">Task Log</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trackId">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.trackId">Track Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="scheduledStartTime">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.scheduledStartTime">Scheduled Start Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDelayMinutes">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.startDelayMinutes">Start Delay Minutes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDelayHours">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.startDelayHours">Start Delay Hours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="elapsedHours">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.elapsedHours">Elapsed Hours</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="elapsedMinutes">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.elapsedMinutes">Elapsed Minutes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="progressPercentage">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.progressPercentage">Progress Percentage</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="downloadFilesize">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.downloadFilesize">Download Filesize</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="downloadSpeed">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.downloadSpeed">Download Speed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="downloadEta">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.downloadEta">Download Eta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nodeIndex">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.nodeIndex">Node Index</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="failCount">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.failCount">Fail Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="retryCount">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.retryCount">Retry Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maxRetryCount">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.maxRetryCount">Max Retry Count</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentTask.id">
              <div class="d-flex">
                <span jhiTranslate="beatStreamApp.taskNode.parentTask">Parent Task</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (taskNode of taskNodes; track trackId(taskNode)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/task-node', taskNode.id, 'view']">{{ taskNode.id }}</a>
              </td>
              <td [jhiTranslate]="'beatStreamApp.ReferenceType.' + (taskNode.referenceType ?? 'null')">
                {{
                  { null: '', UPLOAD: 'UPLOAD', YOUTUBE: 'YOUTUBE', SOUNDCLOUD: 'SOUNDCLOUD', SPOTIFY: 'SPOTIFY' }[
                    taskNode.referenceType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ taskNode.referenceId }}</td>
              <td>{{ taskNode.taskName }}</td>
              <td>{{ taskNode.taskLog }}</td>
              <td>{{ taskNode.trackId }}</td>
              <td>{{ taskNode.scheduledStartTime | formatMediumDatetime }}</td>
              <td>{{ taskNode.startDelayMinutes }}</td>
              <td>{{ taskNode.startDelayHours }}</td>
              <td>{{ taskNode.elapsedHours }}</td>
              <td>{{ taskNode.elapsedMinutes }}</td>
              <td>{{ taskNode.progressPercentage }}</td>
              <td>{{ taskNode.downloadFilesize }}</td>
              <td>{{ taskNode.downloadSpeed }}</td>
              <td>{{ taskNode.downloadEta }}</td>
              <td>{{ taskNode.nodeIndex }}</td>
              <td [jhiTranslate]="'beatStreamApp.DownloadStatus.' + (taskNode.status ?? 'null')">
                {{
                  {
                    null: '',
                    CONVERSION: 'CONVERSION',
                    PENDING: 'PENDING',
                    SCHEDULED: 'SCHEDULED',
                    IN_PROGRESS: 'IN_PROGRESS',
                    COMPLETED: 'COMPLETED',
                    FAILED: 'FAILED',
                    PAUSED: 'PAUSED',
                  }[taskNode.status ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'beatStreamApp.DownloadType.' + (taskNode.type ?? 'null')">
                {{
                  {
                    null: '',
                    FILE: 'FILE',
                    AUDIO: 'AUDIO',
                    VIDEO: 'VIDEO',
                    AUDIO_PLAYLIST: 'AUDIO_PLAYLIST',
                    VIDEO_PLAYLIST: 'VIDEO_PLAYLIST',
                    FILE_PLAYLIST: 'FILE_PLAYLIST',
                  }[taskNode.type ?? 'null']
                }}
              </td>
              <td>{{ taskNode.failCount }}</td>
              <td>{{ taskNode.retryCount }}</td>
              <td>{{ taskNode.maxRetryCount }}</td>
              <td>
                @if (taskNode.parentTask) {
                  <div>
                    <a [routerLink]="['/task-node', taskNode.parentTask.id, 'view']">{{ taskNode.parentTask.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/task-node', taskNode.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/task-node', taskNode.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(taskNode)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (taskNodes && taskNodes.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
