.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.loader {
  animation: bounce 1s infinite alternate;
}

.loader img {
  width: 100px; /* Adjust the size as needed */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px); /* Adjust the bounce height */
  }
}
